body{
    font-size :20px;
}

.grafico-barras{
    width: 100%;
    background: #f2f2f2f2;
    height: 300px;
}

.grafico-barras .colunas {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.grafico-barras .colunas .escala-y {
    width: 80px;
}

.grafico-barras .colunas .area-grafico {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.grafico-barras .colunas .area-grafico .area-barras {
    flex-grow: 1;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.grafico-barras .colunas .area-grafico .area-barras .divisao {
    border: 1px solid red;
    width: calc(100%/12);
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.grafico-barras .colunas .area-grafico .area-barras .divisao .barra{

    width: 10px;
    border-radius: 5px;
    margin: 0 1px;
}

.grafico-barras .colunas .area-grafico .area-barras .divisao .barra_verde {

    background-color: green;
}

.grafico-barras .colunas .area-grafico .area-barras .divisao .barra_azul {

    background-color: blue;
}

.grafico-barras .colunas .area-grafico .area-barras .divisao .barra_vermelha {

    background-color: red;
}

.grafico-barras .colunas .area-grafico .escala-x {
    height: 60px;
}
 